--shop--
<div class="row">
    <div class="col-4 offset-1">
        <% @Catagories.each do |catagory| %>
            <a href="/shop/<%= catagory.slug %>"> <%= catagory.title %></a>            
        <% end %>
    </div>
</div>
--shop--